
h4{
    background-color: rgb(237, 240, 239);
    height: 100px;
    text-align: center;
    font: 3em sans-serif;
}

body{
    font-family: 'Outfit', sans-serif;}
.imghome{
    width: 500px;
    position:relative;
}
.redes{
    width: 50px;
}
.grid-art-home{
    display: grid; grid-template-columns: 50% 50%;
    align-content: center;
    justify-content: center;
}

@media (max-width:360px){
    .h1{
        color: #05a791;
        background-color: #ebefef;
        background-position: center;
        font-weight: 100;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .grid-art-home{
        grid-template-columns: 1fr;
    }
    .imghome{
        margin: 2px;
        padding-right: 2px;
        width: 150px;
    }

}